<div class="flex flex-col-reverse md:flex-row justify-between items-center py-32 bg-lightGrey">
  <div class="grid grid-cols-3 items-center relative xl:-right-[14rem] about">
    <div class="about-image">
      <img src="assets/images/Transformation.png" class="hover:translate-y-3 " />
      <p>Transformation</p>
    </div>
    <div class="relative xl:top-4">
      <div class="about-image">
        <img src="assets/images/Envision.png" />
        <p>Envision</p>
      </div>
      <div class="about-image">
        <img src="assets/images/Dynamics 365.png" />
        <p>Dynamics 365</p>
      </div>
    </div>
    <div class="relative xl:bottom-[4rem]">
      <div class="about-image">
        <img src="assets/images/Crafty Mind.png" />
        <p>Crafty Mind</p>
      </div>
      <div class="about-image">
        <img src="assets/images/Services.png" />
        <p>Services</p>
      </div>
    </div>
  </div>
  <div class="w-full md:w-3/5 bg-pink-500 p-12 text-center md:text-end flex flex-col justify-center">
    <p class="text-2xl lg:text-5xl font-extrabold text-blue mb-6 leading-tight">
      We Deliver<br />
      Digital Productivity
    </p>
    <p class="text-white text-sm md:text-xl">
      We craft technology solutions that digitally<br />
      bond and transform the productivity of<br />
      our customers and their citizens, workers,<br />
      consumers and partners.
    </p>
  </div>
</div>